extends ../shared/views/layout

block head
	meta(name='description', content=__('home.description'))
	meta(name='keywords', content=__('home.keywords'))

block content
	.container
		.row
			.col-12.col-md-8.carousel-label.fluid-col
				span.author Tamara Martens
				p !{__('home.carousel-label')}
		.row.d-md-none
			.col-12
				a.btn.btn-danger.btn-lg(role='button', href='/customer-order-create') !{__('home.order')}
		img.carousel-image.d-none.d-md-block(src='/images/carousel.jpg')
		a.btn.btn-danger.btn-lg.left-docked.d-none.d-md-inline-block(role='button', href='/customer-order-create') !{__('home.order')}
	app-root
	.container
		.row
			.col
				h2 Der Bestellvorgang
				p Auf der Seite finden Sie den Punkt „Bestellen“, dort gibt es ein Bestellformular. Füllen Sie dieses mit Ihren persönlichen Angaben und Wünschen aus. Ihr  Foto bzw. Ihre Fotos können Sie direkt hochladen oder mir per Email schicken. Beachten Sie bitte, dass das Formular das Abschicken nur dann erlaubt, wenn Sie <u>mindestens ein Foto</u> hochgeladen haben. Meine Emailadresse finden Sie unter dem Menüpunkt „Kontakt“. Das Foto sollte von 
					u guter Qualität
					|  sein und eine hohe Auflösung haben. Je höher die Auflösung desto besser wird das Bild, weil ich mehr Details einbringen kann.  Wenn zum Beispiel auf dem Foto die Augen im Schatten und nicht zu erkennen sind, kann ich sie auch nicht zeichnen. Auch wenn Sie nur eine Person auf nur einem Porträt haben wollen, schicken Sie ruhig mehrere Fotos. 
					u Nahaufnahmen
					|  eignen sich eher als Fotos, auf denen die Menschen in voller Größe abgebildet sind. Je nach Auftragslage dauert es ein 
					u bis zwei Wochen
					|  bis Ihr Porträt fertig wird.
	.d-none(itemscope, itemtype='http://data-vocabulary.org/Product')
		div
			strong
				span(itemprop='name') Porträt vom Foto
				span(itemprop='description') Liebevoll handgezeichnetes Porträt von Ihrer Fotovorlage
		div(itemprop='offerDetails', itemscope, itemtype='http://data-vocabulary.org/Offer-Aggregate')
			meta(itemprop='currency', content='EUR')
			div
				strong Preis ab:
				span(itemprop='lowPrice') 60.00
				| €
			div
				strong bestellen unter:
				span(itemprop='offerURL') http://www.tm-portraits.de/customer-order-create

